@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@
<!--page1-->
<img src="~/Images/DSC09662_a.jpg" />
<h1>
    Stella Chen.<br />
    A C# and F2E developer.<br />
</h1>
<button>next</button>
<!--page2-->
<ul>
    <li><a>Skill</a></li>
    <li><a>About</a></li>
    <li><a>Contact</a></li>
</ul>
<button>next</button>
<!--page3-->
<h1>Skill</h1>
<article>You can find the projects I have practiced on below links :</article>
<label>GitHub :</label>
<a href="https://github.com/thkouob">https://github.com/thkouob</a>
<label>CodePen :</label>
<a href="http://codepen.io/ms6930/">http://codepen.io/ms6930/</a>
<ul>
    <li><i>MVC C#</i>***</li>
    <li><i>JS/JQ</i>***</li>
    <li><i>Html5/CSS</i>****</li>
    <li><i>Angular</i>***</li>
    <li><i>PS</i>***</li>
    <li><i>illustrator</i>***</li>
</ul>
<button>next</button>
<!--page4-->
<h1>About</h1>
<article>You can find more about my background on below links :</article>
<label>linkedIn :</label>
<a href="https://www.linkedin.com/in/thkouob-chen-971090a7">https://www.linkedin.com/in/thkouob-chen-971090a7</a>
<h4>Introduction</h4>
<p>blabla</p>
<h4>Educational background</h4>
<p>
    2012 <br />
    Department of Industrial Design, Master's degree<br />
    <ol>
        - <a href="http://link.springer.com/article/10.1007/s11042-015-2564-y">
            A study of product experience obtained from multimodal interactive displays
        </a>
    </ol>
    <ol>
        -
        <a href="http://www.jodesign.org.tw/index.php/JODesign/article/viewFile/1015/511">
            User Cognition by Using 3D Multimodal Interactive Display of Product through Virtual Avatar
        </a>
    </ol>
  
    2009 Department of Information Management, Bachelor of Business Administration (B.B.A.)
</p>
<h4>Experience</h4>
<p>
    2013 - Present<br />
    neweggBusiness.com Inc.<br />
    C#/F2E engineer
</p>
<h4>Other</h4>
<p>
    <ol>
        photogragh
    </ol>
</p>
<button>next</button>
<!--page5-->
<h1>Contant</h1>
<h4>Get in touch</h4>
<h4>ms159357@hotmail.com</h4>